body
{
    font-family: "Helvetica Neue", Helvetica;
}
.cont 
{
    position: relative;
    margin-right: 100%;
    top: 10%;
    width: 250px;
    height: 300px;
    background-color:#f7f7f7;
    border-radius: 10px;
}
.picker
{
    position: relative;
    top: 6%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 100px;
}
#display
{
    width: 100%;
    height: 100px;
    background: #00ffff;
    transition: background 100ms;
    margin-top: 30px;
    border: 1px solid #000;
    border-radius: 10px;
}
input[type=range] 
{
  -webkit-appearance: none;
  width: 100%;
  margin: 6.95px 0;
}
input[type=range]:focus 
{
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track 
{
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(100, 100, 100, 0.54);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 1, 0);
}
input[type=range]::-webkit-slider-thumb 
{
  box-shadow: 0.5px 0.5px 4.9px #000031, 0px 0px 0.5px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.95px;
}
input[type=range]:focus::-webkit-slider-runnable-track 
{
  background: rgba(115, 115, 115, 0.54);
}
input[type=range]::-moz-range-track 
{
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(100, 100, 100, 0.54);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 1, 0);
}
input[type=range]::-moz-range-thumb 
{
  box-shadow: 0.5px 0.5px 4.9px #000031, 0px 0px 0.5px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track 
{
  width: 100%;
  height: 6.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower 
{
  background: rgba(85, 85, 85, 0.54);
  border: 0px solid rgba(0, 0, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper 
{
  background: rgba(100, 100, 100, 0.54);
  border: 0px solid rgba(0, 0, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb 
{
  box-shadow: 0.5px 0.5px 4.9px #000031, 0px 0px 0.5px #00004b;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 6.1px;
}
input[type=range]:focus::-ms-fill-lower 
{
  background: rgba(100, 100, 100, 0.54);
}
input[type=range]:focus::-ms-fill-upper 
{
  background: rgba(115, 115, 115, 0.54);
}

#button_yes 
{
  position: relative;
  margin-top: 10px;
  width: 95px;
  height: 23px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  background: #9cffa7;
  transition: all .218s ease 0s;
}
#button_yes:hover 
{
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #77e684;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#button_yes:active 
{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: #359b41;
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

#button_cancel 
{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 95px;
  height: 23px;
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  background: rgb(255, 130, 130);
  transition: all .218s ease 0s;
}
#button_cancel:hover 
{
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #fc6262;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
#button_cancel:active 
{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(168, 53, 53);
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
input
{
    display: block;
    width: 100%;
}