@font-face
{
    font-family: 'Roboto Condensed';
    src: url('../../utils/fonts/RobotoCondensed/RobotoCondensed-Light.ttf');
}

body
{
    font-family: 'Roboto Condensed';
    font-size: 25;

    font-style: normal;
}

#container
{
    position: absolute;

    background-color: whitesmoke;

    width: 530;
    height: 300;

    margin: 0;

    left: 50%;
    top: 50%;

    margin-left: -265;
    margin-top: -150;

    border-radius: 5px;
}

#head
{
    position: relative;

    background-color: rgb(80, 130, 238);

    width: 530;
    height: 35;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 24;

    box-shadow: 0px 11px 46px 0px rgba(0,0,0,0.23);
}

#content-info
{
    position: relative;

    height: 170;
    width: 420;

    margin-left: 70;
    margin-top: 50;
}

#button-box
{
    position: relative;

    width: 390;
    height: 45;

    margin-top: 0;
    margin-left: 70;
}

#button-line
{
    position: relative;

    width: 170;
    height: 1;

    margin-left: 110;
    top: 14;

    background-color: rgba(133, 133, 133, 0.3);
}

.button-style
{
    outline: none;
    position: relative;
    float: left;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16;
    font-style: normal;
    font-weight: bold;

    box-shadow: 0px 0px 46px 20px rgba(0,0,0,0.20);
}

#button-enter
{
    transition: 100ms;
    background-color: #5ac98e;
}
#button-exit
{
    transition: 100ms;
    background-color: rgb(218, 98, 98);
    float: right;
}

#button-enter:hover
{
    transition: 100ms;
    background-color: #4daa78;
}
#button-exit:hover
{
    transition: 100ms;
    background-color: rgb(182, 82, 82);;
}
#button-enter:active
{
    transition: 100ms;
    background-color: #5ac98e;
}
#button-exit:active
{
    transition: 100ms;
    background-color: rgb(218, 98, 98);
}