body, html
{
  font-family: OpenSans, 'Open Sans', sans-serif;
}

#coords
{
    width: 100%;
    height: 20px;
    position: fixed;
    display: flex;
    justify-content: center;
    
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 
      -0   -1px 1px #000000,
      0   -1px 1px #000000,
      -0    1px 1px #000000,
      0    1px 1px #000000,
      -1px -0   1px #000000,
      1px -0   1px #000000,
      -1px  0   1px #000000,
      1px  0   1px #000000,
      -1px -1px 1px #000000,
      1px -1px 1px #000000,
      -1px  1px 1px #000000,
      1px  1px 1px #000000,
      -1px -1px 1px #000000,
      1px -1px 1px #000000,
      -1px  1px 1px #000000,
      1px  1px 1px #000000;
}