@font-face
{
    font-family: 'Roboto Condensed';
    src: url('../utils/fonts/RobotoCondensed/RobotoCondensed-Regular.ttf');
}

#container::-webkit-scrollbar { display: none; }
#container
{
    position: absolute;

    top: 35%;
    left: 20px;

    width: 300px;
    height: 440px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: scroll;

    float: top;

    align-content: flex-end;
}

.text-box
{
    position: relative;

    width: 195px;
    
    margin: 0;
    
    /* top: 10; */
    left: 5;

    font-weight: 500;
    font-size: 14;

    overflow: hidden;
    text-overflow: ellipsis;
    
    word-wrap: none;
    font-family: 'Roboto Condensed';

    color: black;

    white-space: pre-line;
}

.notify-box
{
    position: relative;

    margin: 0;

    align-self: flex-end;

    margin-bottom: 5px;
    margin-top: 5px; 

    margin-left: 10px;
    padding: 5px;

    width: 250px;
    height: 68px;

    background-color: rgb(241, 241, 241);

    box-shadow: 0px 0px 47px -26px #d4d4d4 inset;

    filter: blur(.4px);

    border-radius: 3px;

    display: flex;
    align-items: center;
}

.notify-icon
{
    position: relative;

    height: 45;
    width: 45;

    margin-left: 5;

    /* top: 12; */

    float: left;
}

.shadow
{
    position: absolute;

    margin: 0;
    border: 0;
    padding: 0;

    left: 0;
    top: 0;

    width: 260px;
    height: 78px;

    background-color: rgba(129, 127, 139, 0.3);
}

.puka
{
    width: 0;
    transition: 11s;
}

#head_text
{
    margin: 0;
    /* margin-top: 3; */
    margin-left: 5;

    font-size: 16;
}
#body_text
{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    text-overflow: ellipsis;
    display: -webkit-box;

    font-weight: 100;
    
    margin: 0;
    margin-left: 5;

    font-size: 13;
    /* margin-top: 2; */
}