body
{
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    display: flex;
}

.container
{
    position: relative;

    width: 400px;
    height: 600px;

    margin: auto;
}

.box
{
    position: relative;

    width: 100%;

    background-color: whitesmoke;
}

#apples-box
{
    position: absolute;

    height: 310;
    width: 400;

    margin: auto;
}

#body
{
    height: 540px;
    border-radius: 5px 5px 0px 0px;

    display: flex;
}

#bottom
{
    height: 59px;
    border-radius: 0px 0px 5px 5px;

    display: flex;
}

#line
{
    width: 100%;
    height: 1px;
    background: -webkit-linear-gradient(18deg, rgb(114, 242, 255) 24%, rgb(75, 255, 0) 93%);
}

#tree
{
    position: relative;

    width: 350;
    height: 550;

    margin: auto;

    top: 5;
}

.circle
{
    position: relative;

    display: flex;

    width: 40px;
    height: 40px;

    border-radius: 30px;

    border: 1px #efe54a solid;

    margin: auto;
}

.apple-img
{
    position: relative;

    width: 30px;
    height: 30px;

    margin: auto;
}

.apple-item
{
    width: 30px;
    height: 30px;
}

#end-picture
{
    position: relative;
    width: 400;
    height: 400;
    margin: auto;
}

.poshel-nahui
{
    transition: ease 2000ms;
    transform: translateY(1000px);
}